body {
  font-family: --apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #000000d4;
  background-color: white;
  max-width: 620px;
  padding: 0 1rem;
  margin: 1rem auto;
  text-align: center;
  overflow-wrap: break-word;
}
#error_msg {
  color: red;
}
button,input,select, small {
  text-align: center !important;
}
form {
  max-width: 20rem;
}
.brand sub {
  font-size: 12px;
  vertical-align: middle;
}
sub {
  vertical-align: middle;
}
.footer {
  color:#888
}



