#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
# Byte-compiled / optimized / DLL files
# C extensions
# Celery stuff
# Created by https://www.toptal.com/developers/gitignore/api/python
# Distribution / packaging
# Django stuff:
# Edit at https://www.toptal.com/developers/gitignore?templates=python
# End of https://www.toptal.com/developers/gitignore/api/python
# Environments
# Flask stuff:
# IPython
# Installer logs
# Jupyter Notebook
# PEP 582; used by e.g. github.com/David-OConnor/pyflow
# Project
# PyBuilder
# PyInstaller
# Pyre type checker
# Rope project settings
# SageMath parsed files
# Scrapy stuff:
# Sphinx documentation
# Spyder project settings
# Translations
# Unit test / coverage reports
# Virtualenv
# http://iamzed.com/2009/05/07/a-primer-on-virtualenv/
# mkdocs documentation
# mypy
# pipenv
# profiling data
# pyenv
# pytype static type analyzer
### Python ###
#*.log
#.python-version
#Pipfile.lock
.vscode/
*$py.class
*.cover
*.csv
*.db
*.egg
*.egg-info/
*.ipynb
*.manifest
*.mo
*.pot
*.py,cover
*.py[cod]
*.sage.py
*.so
*.spec
*.sqlite3
.DS_Store
.Python
.cache
.coveage
.coverage.*
.dmypy.json
.eggs/
.env
.hypothesis/
.idea/
.installed.cfg
.ipynb_checkpoints
.mypy_cache/
.nox/
.prof
.pyre/
.pytest_cache/
.pytype/
.ropeproject
.ruff_cache/
.scrapy
.spyderproject
.spyproject
.tox/
.venv
.vscode/
.web
.webassets-cache
/site
/static
ENV/
MANIFEST
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
__pycache__/
__pypackages__/
assets/external/
build/
celerybeat-schedule
celerybeat.pid
coverage.xml
data/
develop-eggs/
dist/
dmypy.json
doc/_build/
docs/_build/
downloads/
eggs/
env*
env.bak/
env/
htmlcov/
instance/
ipython_config.py
lib/
lib64/
local_settings.py
nosetests.xml
parts/
pip-delete-this-directory.txt
pip-log.txt
pip-selfcheck.json
pip-wheel-metadata/
profile_default/
pytestdebug.log
pythonenv*
pyvenv.cfg
sdist/
share/python-wheels/
target/
var/
venv.bak/
venv/
wheels/

### Replit ###
.replit
replit.nix
