{% extends "admin/change_list.html" %}
{% load i18n admin_urls %}

{% block object-tools-items %}
    {{ block.super }}
    <li>
        {{ import_opml_button }}
    </li>
{% endblock %}

{% block content %}
    <div id="import-opml-modal" class="modal" style="display: none;">
        <div class="modal-content">
            <h2>{% trans "Import OPML" %}</h2>
            <form method="post" action="{% url 'admin:core_o_feed_import_opml' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" name="opml_file" accept=".opml,.xml">
                <input type="submit" value="{% trans 'Import' %}">
            </form>
        </div>
        
    </div>
    {{ block.super }}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var importButton = document.querySelector('a[href="{% url 'admin:core_o_feed_import_opml' %}"]');
            var modal = document.getElementById('import-opml-modal');
            
            importButton.addEventListener('click', function(e) {
                e.preventDefault();
                modal.style.display = 'block';
            });
            
            window.onclick = function(event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
        });
    </script>
{% endblock %}