{% extends 'admin/base_site.html' %}
{% load i18n %}
{% block content %}
<form action="{% url 'admin:core_o_feed_changelist' %}" method="post">
    {% csrf_token %}
    <p>Modify the setting for the following items?</p>
    <ul>
        {% for item in items %}
        <input type="hidden" name="_selected_action" value="{{ item.pk }}" />
        <li>{{ item }}</li>
        {% endfor %}
    </ul>
    <label>{% trans "Update Frequency" %}</label><br />
    <input type="radio" name="update_frequency" value="Keep" checked required>{% trans " Keep Original" %}<br />
    <input type="radio" name="update_frequency" value="True" required>{% trans " Change to " %}
    <input type="number" name="update_frequency_value" value="30" required><br />

    <br /><label>{% trans "Max Posts" %}</label><br />
    <input type="radio" name="max_posts" value="Keep" checked required>{% trans " Keep Original" %}<br />
    <input type="radio" name="max_posts" value="True" required>{% trans " Change to " %}
    <input type="number" name="max_posts_value" value="20" required><br />

    <br /><label>{% trans "Translator" %}</label><br />
    <input type="radio" name="translator" value="Keep" checked required>{% trans " Keep Original" %}<br />
    <input type="radio" name="translator" value="True" required>{% trans " Change to " %}
    <select name="translator_value">
        {% for id,name in translator_choices %}
        <option value="{{ id }}">{{ name }}</option>
        {% endfor %}
    </select><br />

    <br /><label>{% trans "Translation Display" %}</label><br />
    <input type="radio" name="translation_display" value="Keep" checked required>{% trans " Keep Original" %}<br />
    <input type="radio" name="translation_display" value="True" required>{% trans " Change to " %}
    <select name="translation_display_value">
        <option value="0" selected="">{% trans "Only Translation" %}</option>
        <option value="1">{% trans "Translation | Original" %}</option>
        <option value="2">{% trans "Original | Translation" %}</option>
    </select><br />

    <br /><label>{% trans "Summary Engine" %}</label><br />
    <input type="radio" name="summary_engine" value="Keep" checked required>{% trans " Keep Original" %}<br />
    <input type="radio" name="summary_engine" value="True" required>{% trans " Change to " %}
    <select name="summary_engine_value">
        {% for id,name in summary_engine_choices %}
        <option value="{{ id }}">{{ name }}</option>
        {% endfor %}
    </select><br />


    <br /><label>{% trans "Summary Detail" %}</label><br />
    <input type="radio" name="summary_detail" value="Keep" checked required>{% trans " Keep Original" %}<br />
    <input type="radio" name="summary_detail" value="True" required>{% trans " Change to " %}
    <input type="number" name="summary_detail_value" value="0.0" required><br />

    <br /><label>{% trans "Addtional Prompt" %}</label><br />
    <input type="radio" name="additional_prompt" value="Keep" checked required>{% trans " Keep Original" %}<br />
    <input type="radio" name="additional_prompt" value="True" required>{% trans " Change to " %}
    <textarea name="additional_prompt_value"></textarea><br />


    <br /><label>{% trans "Fetch Original Article" %}</label><br />
    <input type="radio" name="fetch_article" value="Keep" checked required>{% trans " Keep Original" %}<br />
    <input type="radio" name="fetch_article" value="True" required>{% trans " Enable" %}<br />
    <input type="radio" name="fetch_article" value="False" required>{% trans " Disable" %}<br />

    <br /><label>{% trans "Best Quality" %}</label><br />
    <input type="radio" name="quality" value="Keep" checked required>{% trans " Keep Original" %}<br />
    <input type="radio" name="quality" value="True" required>{% trans " Enable" %}<br />
    <input type="radio" name="quality" value="False" required>{% trans " Disable" %}<br />

    <br /><label>{% trans "Tags" %}</label><br />
    <input type="radio" name="tags" value="Keep" checked required>{% trans " Keep Original" %}<br />
    <input type="radio" name="tags" value="True" required>{% trans " Change to " %}
    <textarea name="tags_value"></textarea><br />

    <br/>
    <input type="hidden" name="action" value="o_feed_batch_modify" />
    <input type="submit" name="apply" value="Confirm" />
</form>
{% endblock %}