{% extends 'admin/base_site.html' %}
{% load i18n %}
{% block content %}
    <form action="{% url 'admin:core_t_feed_changelist' %}" method="post">
        {% csrf_token %}
        <p>Modify the setting for the following items?</p>
        <ul>
        {% for item in items %}
            <input type="hidden" name="_selected_action" value="{{ item.pk }}" />
            <li>{{ item }}</li>
        {% endfor %}
        </ul>
        <br/><label>{% trans "Translate Title" %}</label><br/>
        <input type="radio" name="translate_title" value="Keep" checked required>{% trans " Keep Original" %}<br>
        <input type="radio" name="translate_title" value="True" required>{% trans " Enable" %}<br>
        <input type="radio" name="translate_title" value="False" required>{% trans " Disable" %}<br>

        <br/><label>{% trans "Translate Content" %}</label><br/>
        <input type="radio" name="translate_content" value="Keep" checked required>{% trans " Keep Original" %}<br>
        <input type="radio" name="translate_content" value="True" required>{% trans " Enable" %}<br>
        <input type="radio" name="translate_content" value="False" required>{% trans " Disable" %}<br>

        <br/><label>{% trans "Summary" %}</label><br/>
        <input type="radio" name="summary" value="Keep" checked required>{% trans " Keep Original" %}<br>
        <input type="radio" name="summary" value="True" required>{% trans " Enable" %}<br>
        <input type="radio" name="summary" value="False" required>{% trans " Disable" %}<br>
        <br/>
        <input type="hidden" name="action" value="t_feed_batch_modify" />
        <input type="submit" name="apply" value="Confirm" />
    </form>
{% endblock %}