{% extends 'admin/base_site.html' %}
{% load i18n %}
{% block content %}
<p>{% trans "Which service provider you want to add?" %}</p>
    <form action="{% url 'admin:translator_add' %}" method="post">
        {% csrf_token %}
        <select name="translator_name">
            {% for translator in translator_choices %}
            <option value="{{ translator.table_name }}">{{ translator.provider  }}</option>
            {% endfor %}
        </select><br /><br />

        <input type="submit" name="apply" value="Confirm" />
    </form>
{% endblock %}