{% extends "admin/base_site.html" %}

{% block content %}
  <table style="width: 80%">
    <thead>
    <tr>
      <th>Name</th>
      <th>Valid</th>
      <th>Type</th>
    </tr>
    </thead>
    <tbody>
    {% for translator in translators %}
      <tr>
        <td><a href="/translator/{{ translator.table_name }}/{{ translator.id }}/change/">{{ translator.name }}</a></td>
        <td>{{ translator.valid }}</td>
        <td>{{ translator.type }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  
{% endblock %}