[Unit]
Description=RSS Translator Application Service
After=network.target

[Service]
Type=simple
User=rsstranslator
Group=rsstranslator
WorkingDirectory=/home/rsstranslator/
ExecStart=/home/rsstranslator/deploy/start.sh
Restart=always
RestartSec=2
Environment="DEBUG=0"
Environment="LOG_LEVEL=ERROR"
Environment="HUEY_WORKERS=10"
Environment="default_update_frequency=30"
Environment="default_max_posts=20"

[Install]
WantedBy=multi-user.target
