[Unit]
Description=RSS Translator Application Service
After=network.target

[Service]
Type=simple
User=rsstranslator
Group=rsstranslator
WorkingDirectory=/home/rsstranslator/
ExecStart=/home/rsstranslator/deploy/start.sh
Restart=always
RestartSec=2
#Environment="DEBUG=1"
#Environment="LOG_LEVEL=INFO"

[Install]
WantedBy=multi-user.target
